@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 20px;
  background-color: #0b2447;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
